// Modal Customizations

.close {
	color: $white;
	opacity: 0.4;

	&:hover {
		color: $white;
		opacity: 0.2;
	}
}

.modal-content {
	border: none;
	background-color: transparent;
	color: $white;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

.modal-backdrop {
	background-color: $charcoal;
	// Fade for backdrop
	&.fade { @include opacity(0); }
	&.in { @include opacity(1); }
}