@import "variables";
@import "bootstrap";

// Project specific style
@import "variablesFRMS";

// Reusable function components
@import "mixins";

// Per component
@import "alerts";
@import "footer";
@import "forms";
@import "modals";
@import "panels";
@import "socialmedia";
@import "tables";
@import "text";

#mainNav {
	margin-bottom: 10px;
	background-color: $body-bg-navyblue;
}

.navbar-default {
	.navbar-brand {
		color: $text-navbar;

		&:focus, &:hover {
			color: $text-navbar-hover;
		}
	}

	.navbar-toggle {
		background-color: $text-navbar;

		&:focus, &:hover {
			background-color: $white;
			color: $black;
		}
	}
}

.main-body {
	background-color: $gray-light;
}

.margin-top-page {
	margin-top: 80px;
}

hr {
	margin: 5px 0;
}

