.ui-autocomplete {
    position: absolute;
    z-index: 1031;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete {
  li {
    // padding: 3px 20px;
  }

  a {
    cursor: pointer;
  }

  .item-padding {
    padding: 3px 20px;
  }

  .bg-red {
    background-color: lighten($brand-danger, 35%);

    &:hover {
      background-color: lighten($brand-danger, 25%);
    }

    .ui-state-active {
      background-color: lighten($brand-danger, 25%);
    }

    a {
      color: darken($brand-danger, 20%);

      &:hover, &:focus {
      color: darken($brand-danger, 30%);
      }
    }
  }

  .bg-yellow {
    background-color: lighten($brand-warning, 35%);

    &:hover {
      background-color: lighten($brand-warning, 25%);
    }

    .ui-state-active {
      background-color: lighten($brand-warning, 25%);
    }

    a {
      color: darken($brand-warning, 20%);

      &:hover, &:focus {
      color: darken($brand-warning, 30%);
      }
    }
  }

  .bg-green {
    background-color: lighten($brand-success, 35%);

    &:hover {
      background-color: lighten($brand-success, 25%);
    }

    .ui-state-active {
      background-color: lighten($brand-success, 25%);
    }

    a {
      color: darken($brand-success, 20%);

      &:hover, &:focus {
      color: darken($brand-success, 30%);
      }
    }
  }

  .bg-blue {
    background-color: lighten($brand-primary, 40%);

    &:hover {
      background-color: lighten($brand-primary, 30%);
    }

    .ui-state-active {
      background-color: lighten($brand-primary, 30%);
    }

    a {
      color: darken($brand-primary, 20%);

      &:hover, &:focus {
      color: darken($brand-primary, 30%);
      }
    }
  }

  .bg-gray {
    background-color: lighten($gray-base, 95%);

    &:hover {
      background-color: lighten($gray-base, 85%);
    }

    .ui-state-active {
      background-color: lighten($gray-base, 85%);
    }

    a {
      color: lighten($gray-base, 40%);

      &:hover, &:focus {
      color: lighten($gray-base, 20%);
      }
    }
  }

  .ui-state-focus {
    background-color: #DDD;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}