.school-branch-card {
	color: $blue-navy-light;
	text-decoration: none !important;

	.branch-card {
		margin-bottom: 20px !important;
		color: $blue-navy-light;
		border-color: $blue-navy-light;

		&:focus, &:hover {
			color: $white;
			background-color: $blue-navy-light;
			border-color: $blue-little-boy;
		}
	}
}