.input-range-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.input-range-label {
    width: 10%;
    flex-grow: 1;
    flex-shrink: 5;
    text-align: center;
}

.input-range-slider {
    flex-grow: 10;
    flex-shrink: 1;
}

input[type=range] {
    height: 29px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: transparent;

    &:focus {
        outline: none;

        &::-webkit-slider-runnable-track {
            background: #3071A9;
        }

        &::-ms-fill-lower {
            background: #3071A9;
        }

        &::-ms-fill-upper {
            background: #3071A9;
        }
    }

    &::-webkit-slider-runnable-track {
        width: auto;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #3071A9;
        border-radius: 5px;
        border: 1px solid #000000;
    }

    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 21px;
        width: 15px;
        border-radius: 5px;
        background: #FFFFFF;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -6.5px;
    }

    &::-moz-range-track {
        width: auto;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 1px #000000;
        background: #3071A9;
        border-radius: 5px;
        border: 1px solid #000000;
    }

    &::-moz-range-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 21px;
        width: 15px;
        border-radius: 5px;
        background: #FFFFFF;
        cursor: pointer;
    }

    &::-ms-track {
        width: auto;
        height: 10px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: #3071A9;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
    }

    &::-ms-fill-upper {
        background: #3071A9;
        border: 1px solid #000000;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;
    }

    &::-ms-thumb {
        margin-top: 1px;
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 21px;
        width: 15px;
        border-radius: 5px;
        background: #FFFFFF;
        cursor: pointer;
    }
}