// Modal Customizations

.close {
	color: $black;
	opacity: 0.4;

	&:hover {
		color: $black;
		opacity: 0.8;
	}
}

.modal-body {

	.text-header-grouping {
		margin-bottom: 20px;
	}

	.text-grouping {
		margin-bottom: 8px;
	}
}

.modal-backdrop {
	background-color: $charcoal;
	// Fade for backdrop
	&.fade { @include opacity(0); }
	&.in { @include opacity(1); }
}

.modal-overflow {
	overflow-y: scroll;
}