.search-section {
	padding-top: 240px;
	padding-bottom: 200px;
	background-color: $body-bg-azure-white;

	.gray-text {
		color: $gray-blue;
	}

	p, label {
		color: $gray-blue;
	}
}

.search-section2 {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: $body-bg-azure-white;

	.gray-text {
		color: $gray-blue;
	}

	p, label {
		color: $gray-blue;
	}
}

#search-results {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: $charcoal;

	.results-header {
		margin-bottom: 30px;
		color: $white;
	}

	.result-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		cursor: pointer;
	}

	.result-child-generic {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
	}

	.result-child-index {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
		max-width: 30px;
		min-width: 30px;
	}

	.result-child-logo {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
		max-width: 80px;
		min-width: 80px;
	}

	.result-child-name {
		flex-grow: 10;
		flex-shrink: 1;
	}
}

#search-suggestions {
	padding-top: 30px;
	padding-bottom: 80px;
	background-color: $charcoal;

	.suggestions-header {
		margin-bottom: 20px;
		color: lighten($charcoal, 60%);
	}

	.suggestions-parent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		cursor: pointer;
	}

	.suggestions-child-generic {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
	}

	.suggestions-child-index {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
		max-width: 30px;
		min-width: 30px;
	}

	.suggestions-child-logo {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
		max-width: 80px;
		min-width: 80px;
	}

	.suggestions-child-logo-sm {
		flex-grow: 1;
		flex-shrink: 1;
		margin-right: 10px;
		max-width: 40px;
		min-width: 40px;
	}

	.suggestions-child-name {
		flex-grow: 10;
		flex-shrink: 1;
	}

	.suggestions-load-more {
		&:hover {
			color: $mint-cream;
		}
	}
}

.search-input-button-pair {
	@include inputButtonPair();
}