// Coloring

.text-white {
	color: $white !important;
}

.text-black {
	color: $black;
}

.text-dark-blue {
	color: $gray-blue;
}

.text-gray-blue {
	color: $gray-blue;
}

.text-diamond-blue {
  color: $blue-diamond;
}

.text-gray-slightly-light {
	color: $gray-slightly-light;
}

.text-gray-mid-light {
	color: $gray-mid-light;
}

.text-gold {
	color: $yellow-gold !important;
}

.text-coming-soon {
  color: $yellow-canary;
}

.text-coming-soon-dark {
  color: $brown-grullo;
}

.text-green-dark {
  color: $green-mughal !important;
}

.text-check {
	color: $check-color;
}

.text-cross {
	color: $cross-color;
}

.text-red-light {
  color: $red-tea-rose;
}

.icon-action-red {
  color: $red;
}

.item-quantity-subject {
  background-color: $purple-thistle;

  &:hover {
    background-color: $purple-magenta-light !important;
  }
}

.item-quantity-misc {
  background-color: $blue-light;

  &:hover {
    background-color: $blue-sky !important;
  }
}

// Text background color

// Positioning

.centered {
  text-align: center;
}

.left-leaning {
    text-align: left;
}

.right-leaning {
    text-align: right;
}

.middle-leaning {
    text-align: center;
}

// Size

.text-size-md {
  font-size: 16px;
}


// Display

.text-pre-line {
  white-space: pre-line;
}

.margins-sm {
  margin-bottom: 15px;
  margin-top: 15px;
}

.margin-no-top {
  margin-top: 0px;
}

.margin-no-bottom {
  margin-bottom: 0px;
}

.margin-bottom-lg {
  margin-bottom: 60px;
}

.margin-bottom-md {
  margin-bottom: 45px;
}

.margin-bottom-sm {
  margin-bottom: 30px;
}

.margin-bottom-xs {
  margin-bottom: 15px;
}

.margin-bottom-xxs {
  margin-bottom: 10px;
}

.margin-bottom-xxxs {
  margin-bottom: 5px;
}