.hidden-generic {
  display: none;
}

// Screen size dependent view

.hidden-xxs {
  @include mQ($screen-xxs) {
    display: none;
  }
}

.hidden-mobile-lg {
  @include mQ($screen-mobile-md-max) {
    display: none;
  }
}

.hidden-mobile-xl {
  @include mQ($screen-mobile-lg-max) {
    display: none;
  }
}

.show-mobile-lg {
  @include mQMin($screen-mobile-lg) {
    display: none;
  }

  @include mQ($screen-mobile-md-max) {
    display: block;
  }
}

.show-mobile-xl {
  @include mQMin($screen-mobile-xl) {
    display: none;
  }

  @include mQ($screen-mobile-lg-max) {
    display: block;
  }
}