@import "variables";

// Reusable function components
@import "mixins";

// Components
@import "alerts";
@import "badge";
@import "buttons";
@import "cards";
@import "footer";
@import "grids";
@import "navbardark";
@import "panels";
@import "socialmedia";
@import "tables";
@import "text";
@import "visibility";

#page-top {
	background-color: $blue-light;
}

.jumbotron {
	background-color: $white;

	.img-responsive {
		font-size: 140px;

		@include mQ($screen-md-max) {
			font-size: 120px;
		}

		@include mQ($screen-xs-max) {
			margin: auto;
			max-width: 50%;
			text-align: center;
			font-size: 100px;
		}
	}

	.school-name {
		@include mQ($screen-xs-max) {
			text-align: center;
		}
	}

	h1 {
		font-size: 48px;

		@include mQ($screen-md-max) {
			font-size: 40px;
		}

		@include mQ($screen-sm-max) {
			font-size: 26px;
		}

		@include mQ($screen-xs-max) {
			font-size: 30px;
		}
	}

	hr {
		margin-top: 10px;
		margin-bottom: 10px;
		border-top: 1px solid lighten($black, 80%);
	}
}

#school-name-address {
	margin-bottom: 30px;
}

.centered {
	text-align: center;
}

.left-leaning {
	text-align: left;
}

.right-leaning {
	text-align: right;
}

.btn-xl {
	padding: 16px 25px;
	font-size: 22px;
	line-height: 1.333333;

	@include mQ($screen-xs-max) {
		padding: 12px;
	}

	@include mQ($screen-xxs-max) {
		padding: 5px;
		font-size: 16px;
	}

	@include mQ($screen-xxxs-max) {
		font-size: 12px;
	}
}

.btn-flat-right {
	padding: 16px 25px;
	font-size: 22px;
	line-height: 1.333333;

	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;

	@include mQ($screen-xs-max) {
		padding: 12px;
	}

	@include mQ($screen-xxs-max) {
		padding: 10px;
		font-size: 16px;
	}
}

.fixed-pos-payment {
	position: fixed;
	bottom: 30px;
	right: 0;
	z-index: 20;
}

.panel-body {
	p {
		@include mQ($screen-xxs-max) {
			font-size: 12px;
		}
	}

	hr {
		@include mQ($screen-mobile-lg-max) {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.filler-space {
	margin-bottom: 120px;

	@include mQ($screen-xxs-max) {
		margin-bottom: 90px;
	}
}

.optional-input {
	margin-bottom: 8px;
}