@import "variables";
@import "bootstrap";

// Reusable function components
@import "mixins";

// Per component
@import "text";
@import "footer";
@import "socialmedia";
@import "forms";
@import "inputrange";
@import "modallanding";

#init-school-section {
	min-height:100vh;
	height: 100%;
	width: auto;
	background-color: $charcoal;
}

.init-school-form-body {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-color: $white;
}